body{
	background-image: url("/I/fondo.jpg");
	background-attachment: fixed;
	text-align:center;
	font-family:Arial;
	font-size:20px;
	color:#000;
}

body > div.form > img{
	width:30%;
}
body > div.form{
	width:26%;
	padding:1%;
	margin-left:37%;
	margin-top:200px;
	background-color:#825cc37d;
	border-radius: 7.11458px;
}