doctype html
html
	head
		meta(charset="UTF-8")
		title Reportes - Ecibot
		link(rel="shortcut icon",type="image/png",href="I/favicon.ico")
		script(src="C/jquery.eci")
		script(src="C/Ajax_.REST.eci")
		script#MJimported(src="C/MJ.eci")
		script(src="C/reTry.eci")
		script(src="C/jquery.eci")
		script(src="C/Base64.eci")
		script(src="C/reporte.eci")
		link(rel="stylesheet", href="S/reportes.css",type="text/css")
		link(rel="stylesheet", href="S/base.css",type="text/css")
	body
		header
			table
				tr
					td
						img#logoeci(src="I/logo_universidad.jpg")
					td.titulo 
						|reportes de 
						span#entidad Cargando...
						br
						input(type="button", value="Cerrar Sesión",onclick="reporte.Salir();")
					td
						img#logo(src="I/logo.png")
						br
						|ECIBOT
					td.creadores
						b Creado por: 
						br
						|Kevin Alvarado
						br
						|Kevin Sánchez
						br
						b Directora: 
						br
						|Ing. Patricia Álvarez
		br
		div#alerta
		div#listaMensajes